
.designer {
    display: none;
    &.active {
      display: inline;
    }
  }
  
  .nav-item {
    &:hover {
      .designer {
        display: inline;
      }
  
      .designer.active {
        display: inline;
      }
    }
  }
  
  @media screen and (max-width: 768px) {
    .designer , .designer.active {
      display: none;
    }
  }