$primary:  #F9C745;
$success: #cbd0a5; 
$danger:#ab3326d0;

$primary-box-shadow: 0 0 0 0.25rem rgba(249, 199, 69, 0.25);
$danger-box-shadow: 0 0 0 0.25rem rgba(171, 51, 38, 0.2);
$form-border-radius:0.5rem;




.form{
    border-radius: .3rem;
    color: $dark;
    input.form-control{
        @include border-radius($form-border-radius, 0); 
    }  
}
.form{
    border-radius: .3rem;
    color: $dark;
    .form-control:focus,.form-select:focus{
        border-color: $primary !important;
        box-shadow: $primary-box-shadow !important;
    }
    .form-select{
        border-radius: 0.5rem;
    }
    .form-check-input:checked {
        background-color: $primary!important;
        border-color: $primary!important;
    }
    .form-check-input:focus {
        box-shadow: $primary-box-shadow!important;
        border-color: $primary!important;
    }

}
.form-control{
    resize: none;
    border-radius: $form-border-radius;
    &::placeholder {
        color: #dee2e6;
    }
}
.was-validated .form-control:invalid{
    border-color: $danger !important;
    color: $danger !important;
    box-shadow: $danger-box-shadow !important;
}
.invalid-feedback{
    color: $danger;    
} 
.was-validated .form-control:valid, .form-control.is-valid {
    background-image:none !important;
}
.form-select.is-valid:not([multiple]):not([size]), .form-select.is-valid:not([multiple])[size="1"], .was-validated .form-select:valid:not([multiple]):not([size]), .was-validated .form-select:valid:not([multiple])[size="1"] {
    background-image:none !important;
}

