

.navbar-light, .navbar-nav, .nav-link.active{
   color: $warning !important;
   &:hover,&:active{
      color: $warning !important;
      .nav-link {
         &.active,
         &.show {
           color: var(--#{$prefix}body-emphasis-color) !important;
         }
       }
   }
}
.fixed-top{
   position: fixed;
   top:0;
   left: 0;
   right: 0;
}