$fs-l: 32px;
$fs-m: 24px;
$fs-s: 20px;
$fs-xs: 16px;


:root{
    --bs-dark-rgb: 58, 58, 58;
    --bs-form-invalid-border-color: #ab3326;
    --bs-warning-rgb:rgb(249 199 69);
    --bs-waring:#f9c745;
}

.bg-cover{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.bg-attachment-fixed{
    background-attachment: fixed;
}
.theme-font-m{
    font-size: $fs-m;
    font-family: "Kalam", sans-serif;
}
.theme-font-xs{
    font-size: $fs-xs;
    font-family: "Kalam", sans-serif;
}
.theme-font-s{
    font-size: $fs-s;
    font-family: "Kalam", sans-serif;
}
.text-hide{
    text-indent: 101%; 
    overflow: hidden;   
    white-space: nowrap; 
}
.img-change-box{
    height: 64px;
    width: 160px;
}
.footer.border-top{
    border-top: 4px var(--bs-border-style) var(--bs-warning) !important;
}
